{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Lista de Livros</h1>
    <input type="submit" onclick="location.href = '{% url 'livros:create' %}'" value="Cadastrar Livro">
    <ul>
        {%for livro in object_list %}
        <li>{{livro.titulo}} -
            <a href="{% url 'livros:detail' pk=livro.id %}"> <button>Visualizar</button>  </a>
            <a href="{% url 'livros:update' pk=livro.id %}"> <button>Editar</button></a>
            <a href="{% url 'livros:delete' pk=livro.id %}"> <button>Deletar</button></a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>