{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Tem certeza que deseja apagar o livro '{object.titulo}'</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <input type="submit" value="Sim, tenho certeza">
        <input type="reset" value="Não quero apagar o livro" onclick="location.href = '{% url 'livros:list' %}'" >
    </form>

</body>
</html>