{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visualizar Livro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Visulizar Livro</h1>

    <h2>Titulo: {{object.titulo}}</h2>
    <h2>Autor: {{object.autor}}</h2>
    <h2>Editora: {{object.editora}}</h2>
    <h2>Idioma: {{object.idioma}}</h2>
    <br/>
    <input type="submit" value="Voltar" onclick="location.href = '{% url 'livros:list' %}'">

</body>
</html>